@font-face {
    font-family: 'Pixel';
    src: url(./fonts/pixel.ttf) format('truetype');
}

html {
    background-color: black;
    color: whitesmoke;
    font-family: 'Pixel';
    font-size: medium;
    line-height: 1.5px;
}

body {
    margin-top: 50px;
}

a {
    color: inherit;
    text-decoration: none
}

a.dgarage {
    color: cadetblue
}

a.discords {
    color: indianred
}

a.lol1 {
    color: red
}

a.lol2 {
    color: orangered
}

a.lol3 {
    color: orange
}

a.lul1 {
    color: cornflowerblue
}

a.lul3 {
    color: violet
}

a.songs {
    color: lightcoral;
}

a.music {
    color:lightpink
}

a.code {
    color:blueviolet
}

a.lunarity {
    color:#dd88ff;
}

a.droidium {
    color:#83c9ff;
}

a.lunarity1 {
    color: lightgreen;
}

a.droidium1 {
    color: orange;
}

a.drift {
    color: orange
}

a.dryfter {
    color: orange
}

a.ryno {
    color: orange
}

a.skidgod {
    color: red
}

a.division {
    color: red
}

a.sex {
    color:darkorchid
}

a.femboys {
    color: dodgerblue
}

p.brackets {
    color:rgb(240, 240, 240);
}

a.falling {
    color: beige;
}

a.in {
    color:cornsilk;
}

a.love {
    color:lightpink;
}

a.friends {
    color: paleturquoise
}

a.projects {
    color: purple
}

a.paypal {
    color: blue
}

a.sellapp {
    color: goldenrod
}

a.email {
    color: firebrick
}
