@font-face {
    font-family: 'Pixel';
    src: url(./fonts/pixel.ttf) format('truetype');
}

html {
    background-color: black;
    color: whitesmoke;
    font-family: 'Pixel';
    font-size: medium;
    line-height: 1.5px;
}

body {
    margin-top: 50px;
}

a {
    color: inherit;
    text-decoration: none
}

a.lol1 {
    color: lightslategrey
}

a.lol2 {
    color: lightslategrey
}

a.lol3 {
    color: lightslategrey
}

a.songs {
    color: lightcoral;
}

a.music {
    color:lightpink
}

a.code {
    color:blueviolet
}

a.lunarity {
    color:#dd88ff;
}

a.droidium {
    color:#83c9ff;
}

a.titan {
    color:rgb(205, 205, 205);
}

a.sex {
    color:darkorchid
}

p.brackets {
    color:rgb(240, 240, 240);
}

a.falling {
    color: beige;
}

a.in {
    color:cornsilk;
}

a.love {
    color:lightpink;
}
